<div class="footer-wrapper">
    <div class="footer-section f-section-1">
        <p class="">Developed By Technomads.</p>
    </div>
    <div class="footer-section f-section-2">
        <p class="">Admin</p>
    </div>
</div>