<div class="sidebar-wrapper sidebar-theme">
            
    <nav id="sidebar">
        <div class="shadow-bottom"></div>
        <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu">
                <a href="/adminside/dashboard" aria-expanded="false" class="dropdown-toggle sidebarmenu1"> <!-- data-active="true" data-toggle="collapse" aria-expanded="true" -->
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        <span>Dashboard</span>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="dashboard" data-parent="#accordionExample">
                </ul>
            </li>

            <li class="menu" id="customerData">
                <a href="#customer" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebarmenu2">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                        <span>Customer</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="customer" data-parent="#accordionExample">
                    <li class="sidebarmenu3">
                        <a href="/adminside/customer"> Customer List </a>
                    </li>
                    <li class="sidebarmenu4">
                        <a href="/adminside/customer/add"> Add Customer </a>
                    </li>
                </ul>
            </li>

            <li class="menu" id="vehicleData">
                <a href="#vehicle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebarmenu5">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
                        <span>Vehicle</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="vehicle" data-parent="#accordionExample">
                    <li class="sidebarmenu6">
                        <a href="/adminside/vehicle"> Vehicle List </a>
                    </li>
                    <li class="sidebarmenu7">
                        <a href="/adminside/vehicle/add"> Add Vehicle </a>
                    </li>
                </ul>
            </li>

            <li class="menu" id="driverData">
                <a href="#driver" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebarmenu8">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
                        <span>Driver</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="driver" data-parent="#accordionExample">
                    <li class="sidebarmenu9">
                        <a href="/adminside/driver"> Driver List </a>
                    </li>
                    <li class="sidebarmenu10">
                        <a href="/adminside/driver/add"> Add Driver </a>
                    </li>
                    <li class="sidebarmenu11">
                        <a href="/adminside/driver/toBeVerify"> To Be Verified </a>
                    </li>
                    <li class="sidebarmenu12">
                        <a href="/adminside/driver/dailyWorks"> Daily Works </a>
                    </li>
                    <li class="sidebarmenu13">
                        <a href="/adminside/driver/loginRequest"> Login Request </a>
                    </li>
                </ul>
            </li>
            
            <li class="menu" id="adminData">
                <a href="#admins" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebarmenu14">
                    <div class="">                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                        <span>Admin</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="admins" data-parent="#accordionExample">
                    <li class="sidebarmenu15">
                        <a href="/adminside/admin"> Admin List </a>
                    </li>
                    <li class="sidebarmenu16">
                        <a href="/adminside/admin/add"> Add Admin </a>
                    </li>
                </ul>
            </li>

            <li class="menu" id="accountsData">
                <a href="#accounts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebarmenu17">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                        <span>Accounts</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="accounts" data-parent="#accordionExample">
                    <li class="sidebarmenu18">
                        <a href="/adminside/accounts/transaction"> Transaction List </a>
                    </li>
                    <li class="sidebarmenu19">
                        <a href="/adminside/accounts/transaction/add">Add Transaction </a>
                    </li>
                    <li class="sidebarmenu20">
                        <a href="/adminside/accounts/bankAccount"> Bank Accounts </a>
                    </li>
                    <li class="sidebarmenu21">
                        <a href="/adminside/accounts/transactionCategory"> Category </a>
                    </li>
                </ul>
            </li>

            <li class="menu" id="customeFieldsData">
                <a href="#customFields" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle sidebarmenu22">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                        <span>Custom Fields</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="customFields" data-parent="#accordionExample">
                    <li class="sidebarmenu23">
                        <a href="/adminside/customFields/undeliveredReason"> Undelivered Reason </a>
                    </li>
                </ul>
            </li>
            
        </ul>
        <!-- <div class="shadow-bottom"></div> -->
        
    </nav>

</div>

<script> 
    const showSidebarCurrentTab = (id, elementPos) => {
        $(`#${id}`).prev().attr('aria-expanded', true).attr('data-active', true);
        $(`#${id}`).addClass('show');
        if(elementPos) $(`#${id} li:nth-child(${elementPos})`).first().addClass('active');
    }
    $(document).ready(  () => {
        sidebarViewByRole();
    })
    
    const sidebarViewByRole = () =>{
        const role = localStorage.getItem('role');
        //alert("this is role" + role);
        if(role == "AC"){
            //document.getElementById("customerData").style.visibility = "hidden";
            document.getElementById("customerData").remove();
            document.getElementById("vehicleData").remove();
            document.getElementById("driverData").remove();
            document.getElementById("adminData").remove();
            document.getElementById("customeFieldsData").remove();
        }
    }
</script>